@import '../../../styles/colors';

.card_item {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
	border: 1px solid $color-terciary;
	width: 16rem;
	height: 16rem;
	list-style: none;
	color: $color-secondary;

	&__img {
		margin-top: 1rem;
		width: 6rem;
		height: 8rem;
		border-radius: 5px;
		box-shadow: 1px 7px 10px rgb(71, 68, 68);
	}

	.item_info {
		display: flex;
		flex-direction: row;
		align-items: center;
	}

}

.cards {
	text-decoration: none;
}