@import '../../../styles/colors';

.products_container {
	.search_container {
		display: flex;
		line-height: 3rem;
		align-items: center;
		max-width: 3rem;
		position: relative;
	}

	.search_input {
		height: 2rem;
		padding: 0 1rem;
		padding-left: 2.5rem;
		border: 2px solid $color-terciary;
		border-radius: 2em;
		outline: none;
		background-color: transparent;
		color: $color-secondary;
		box-shadow: 0 0 5px #C1D9BF,
			0 0 0 10px #f5f5f5eb;
		transition: .3s ease;

		.search_input::placeholder {
			color: $color-terciary;
		}
	}

	.search_icon {
		height: 1.5rem;
		padding: 0 0.7rem;
		position: absolute;
	}

	.products_list {
		display: grid;
		padding: 1rem;
		gap: 1rem;
		grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	}

	@media screen and (max-device-width: 480px) {
		.products_container {
			margin-top: 1rem;

			.search_container {
				left: 20%;
			}
		}
	}


	@media screen and (min-device-width: 768px) and (max-device-width:1024px) {
		.search_container {
			left: 65%;
		}
	}

	@media screen and (min-device-width: 1024px) {
		.search_container {
			left: 75%;
		}
	}

	@media screen and (min-device-width: 1440px) {
		.search_container {
			left: 82%;
		}
	}
}