@import "../../../styles/colors.scss";

.header_container {
	background-color: $color-terciary;
	width: 100vw;
	height: 5em;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	color: $color-secondary;

	&__logo {
		margin-left: 3rem;
		height: 4.5rem;
	}

	&__icon {
		margin-right: 3rem;
		height: 2.5rem;
		position: relative;
	}

	.counter {
		background-color: $color-secondary;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 50%;
		height: 1.5rem;
		width: 1.5rem;
		position: absolute;
		top: 0.5rem;
		right: 1.5rem;
		color: $color-primary;
	}
}