@import "../../styles/colors.scss";

.header_container {
	background-color: $color-terciary;
	width: 100vw;
	height: 5em;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	color: $color-secondary;

	.breadcrumb {
		display: flex;
		align-items: center;
	}

	.breadcrumb__item {
		margin: 0 0.5rem;
		position: relative;
	}

	.breadcrumb__item:not(:last-child)::after {
		position: absolute;
		right: 0;
		top: 0;
		transform: translate(0.5rem, 0px);
		content: '/';
	}

	.header_container-icon {
		height: 2.5rem;
	}
}