@import '../../../styles/colors';

.details_container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
	justify-content: space-between;

	.details_column {
		flex: 50%;
	}

	.detail_img {
		height: 20rem;
		width: 15rem;
	}

	.details_info,
	.details_actions {
		padding: 1rem;
	}

	.details_info {
		&__list {
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			align-items: flex-start;
			list-style: none;
			line-height: 1.5em;
			text-align: center;
		}
	}

	.details_actions {
		display: flex;

		&__label {
			margin-right: 0.5rem;
		}

		&__select {
			margin-right: 3rem;
		}

		select {
			display: inline-block;
			padding: 0.4em 1em;
			font-size: 1rem;
			background-color: $color-secondary;
			color: $color-primary;
			border-radius: 4px;
		}
	}
}


@media screen and (max-device-width: 768px) {
	.details_container {
		display: flex;
		flex-direction: row;
		align-items: center;
		margin-top: 3rem;
	}
}

@media screen and (min-device-width: 1024px) {
	.details_container {
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
		margin-top: 3rem;
	}
}