@import '../../../styles/colors';

.pagination {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 1rem;
}

.pagination button {
	width: 1.5rem;
	height: 1.5rem;
	font-family: inherit;
	font-weight: 600;
	margin: 0 10px;
	border-radius: 6px;
	cursor: pointer;
	transition: all 0.3s ease;
	background: transparent;
	color: $color-secondary;
	border-color: $color-secondary;

	&:hover {
		background: $color-secondary;
		color: $color-primary;
		border-color: $color-primary;
	}

	&:focus {
		background-color: $color-terciary;
		color: $color-primary;
	}
}